
{% extends 'base.html' %}

{% block content %}

<main class="sign">
    <form action="" method="POST">
        <h1>Login What'sApp System</h1>

        {% if warn %}
            <p class="warn"><i class="fas fa-exclamation-triangle"></i> {{warn}} </p>
        {% endif %}

        <label>Phone Number :</label>
        <input type="text" name="phone" placeholder="Put Phone Number">
        <label>Password :</label>
        <input type="password" name="password1" placeholder="Put a Password">

        <input type="submit" name="sign" value="Register">
        
        <p class="last">Don't Have any Account yet ?  <a href="{% url 'register' %}">Register Here</a> </p>
        
    </form>

</main>

{% endblock %}

